table, th, td {
   border: 1px solid #3A4342;
   border-spacing: 0;
}

table {
	width: 100%;
	min-width: 500px;
}

th, td {
	padding: 5px 10px;
}

tbody tr:hover {
	cursor: pointer;
	background-color: #ccc;
}